/*Stylesheet zur Gestaltung der Beispielsite*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
}

/*h1 {font-size: 2.5rem;} ist eine .svg*/
h2 {font-size: 2rem;}
h3 {font-size: 1.75rem;}
h4 {font-size: 1.5rem;}

.site-footer {
    font-size: smaller;
}

.site-content {
    line-height: 1.5;
}

.site-content a:link {
    color: #0b74b8;
}
.site-content a:visited {
    color: #36aade;
}
.site-content a:hover,
.site-content a:focus {
    color: #f5662e;
}
.site-content a:active {
    color: #d90000;
}

/*Gestaltung der Kundenstimmen mit Box-Modell-Eigenschaften*/
.kundenstimme {
    background-color: #eee;
    text-align: center;
    padding: 1em;
    margin: 0 0 1em 0;
    border-left: 5px solid #0b74b8;
}

/*Gestaltung der Navigation und Fußzeile*/
.site-nav-list,
.site-footer {
    background-color: #333;
    padding: 0.5em;
}

.site-nav-list li {
    display: inline;
    margin-right: 1em;
}

.site-nav-list a,
.site-footer a {
    color: white;
    text-decoration: none;
}

.startseite {
    background-color: #F6DCB5;
}

/*Abstände Logo und Slogan anpassen*/
.site-logo {
    margin-bottom: 0;
}

.site-slogan {
    margin: 0;
}

/*Gestaltung der Infoboxen*/
.infoboxen {
    background-color: #eee;
    padding: 1em;
    margin-bottom: 1em;
}

.infobox {
    text-align: center;
    background-color: white;
    padding: 1em;
    margin: 1em;
}

/*Gestaltung der Navigation*/
a.sie-sind-hier {
    text-decoration: underline;
}

/*Gestaltung Kontaktdaten und Kontaktformular*/
address {
    font-style: normal;
}

label {
    display: block;
}

form div {
    margin-bottom: 1em;
}